body {
    width: 100vw;
    overflow-x: hidden;
    background: rgb(227, 113, 149);
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 24px;
    margin-top: 30px;
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

span {
    font-weight: bold;
    color: rgb(246, 242, 246);  
    font-size: 30px;
}

button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(255, 215, 0);
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 10px 10px 0;
}

button:hover {
    background: rgba(226, 124, 234, 0.3);
}

.timer {
    font-size: 40px;
    font-weight: bold;
    color: gold;
}